<div class="container mt-3 mb-3">
    <h3 class="text-center">SATELLITE IMAGE</h3>
    <div class="form-group">
        <label for="dateInput">Seleccione una latitud: (ej: 29.78)</label>
        <input id="latInput" type="number" [(ngModel)]="latInput" class="form-control">
        
        <label for="dateInput">Seleccione una longitud: (ej: -95.33)</label>
        <input id="lonInput" type="number" [(ngModel)]="lonInput" class="form-control">
        

        <button class="btn btn-primary" (click)="printSatellite()">Buscar</button>

    </div>
</div>
